/* Configure Databases */
params{

}

/* Configure steps, CPU and PATH requirements */
process {

    withName: blastn_phase1_PE{
       beforeScript='export BLASTDB=/media/lalo/da2ae0b2-e696-4533-b28d-717986cfc6e1/Kronan_mary-Rose_variantSeeker_poxviruses_230314/phase1_DB'
       cpus=15
    }
    
    withName: blastn_phase1_S{
       beforeScript='export BLASTDB=/media/lalo/da2ae0b2-e696-4533-b28d-717986cfc6e1/Kronan_mary-Rose_variantSeeker_poxviruses_230314/phase1_DB'
       cpus=14
    }
    
    withName: asm_megahit{
       cpus=9
    }
    
    withName: blastn_phase2_megahit{
       beforeScript='export BLASTDB=/media/lalo/da2ae0b2-e696-4533-b28d-717986cfc6e1/blast_db_nt_220815'
       cpus=14
    }

    withName: fetch_fasta_headers_local_DB{
       beforeScript='export BLASTDB=/media/lalo/da2ae0b2-e696-4533-b28d-717986cfc6e1/blast_db_nt_220815'
    }

    withName: fetch_taxonomy_esearch{
       executor = 'local'
       queueSize = 1
    }

}



